<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog</title>
    <link rel="stylesheet" href="/css/blog.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <h3 id="titolo"><%=titolo %></h3>

    <h3 id="data"><%=data %></h3>
    <div id="content"><div id="testo-container"><%- testo %></div></div>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
