<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div id="nettuno-logo">
      <h1 id="nettuno-scacchi">NETTUNO SCACCHI</h1>
      <img
        src="https://pbs.twimg.com/profile_images/378800000344267493/b63be7b04b2b0cb41ce91fa9aa67e7e3.jpeg"
        alt=""
        id="logo"
      />
    </div>

    <div id="header-container">
      <div class="info">
        <h1 class="info-text">CHI SIAMO</h1>
      </div>
      <div class="info">
        <H1 class="info-text">DOVE SIAMO</H1>
      </div>
      <div class="info">
        <h1 class="info-text">ORARI DI APERTURA</h1>
      </div>
    </div>

    <div id="page-container">
      <div id="left">
        <div id="all-post-container">
          <h2 id="ultime-notizie">ULTIME NOTIZIE</h2>
          <% if(completo){ %>

          <a href="/blog/<%= completo[0].id  %>">
            <div class="homepage-post-container" id="<%= completo[0].id %>">
              <div class="img-title">
                <img
                  class="immagini"
                  src="<%=
                       completo[0].path %>"
                />

                <h3 class="titolo-post"><%=completo[0].titolo %></h3>
              </div>
              <h3 class="testo-post">
                <%=completo[0].testo.slice(0,140) + "..." %>
              </h3>

              <h3 class="data-post"><%=completo[0].data %></h3>
            </div>
          </a>
          <%} %>

          <div class="old-post-container">
            <% if(oldPost){ %> <% oldPost.forEach((post =>{ %>
            <div class="old-post">
              <div class="old-post-img-container">
                <img class="old-post-img" src="<%=post.path%>" alt="" />
              </div>

              <div class="old-post-testo"><%= post.titolo %></div>
            </div>
            <% }))} %>
          </div>

          <a href="./admin/login">
            <button>
              <% if(req.session.authorized){ %> <%="gestisci"%> <%} else{ %>
              <%="login"%> <% } %>
            </button></a
          >
        </div>
      </div>
      <div id="right">
        <div id="puzzle">
          <div id="puzzle-container">
            <link
              id="puzzleCss"
              type="text/css"
              rel="stylesheet"
              href="https://chesstempo.com/css/dailypuzzle.css"
            />
            <script
              type="text/javascript"
              src="https://chesstempo.com/js/dailypuzzle.js"
            ></script>
            <script>
              new Puzzle({ pieceSize: 29 });
            </script>
          </div>
          <a id="ct-link" href="https://chesstempo.com/play-chess-online/"
            >Gioca a Scacchi Online</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
