<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div id="nettuno-logo">
      <h1 id="nettuno-scacchi">NETTUNO SCACCHI</h1>
      <img
        src="https://pbs.twimg.com/profile_images/378800000344267493/b63be7b04b2b0cb41ce91fa9aa67e7e3.jpeg"
        alt=""
        id="logo"
      />
    </div>

    <div id="header-container">
      <div class="info">
        <h1 class="info-text">CHI SIAMO</h1>
      </div>
      <div class="info">
        <H1 class="info-text">DOVE SIAMO</H1>
      </div>
      <div class="info">
        <h1 class="info-text">ORARI DI APERTURA</h1>
      </div>
    </div>
    <div id="all-post-container">
      <h2 id="ultime-notizie">ULTIME NOTIZIE</h2>
      <% if(completo){ %> <% completo.forEach(blog =>{ %>
      <a href="/blog/<%= blog.id  %>">
        <div class="homepage-post-container" id="<%= blog.id %>">
          <div class="img-title">
            <% blog.path.forEach(image =>{ %> <img class="immagini" src="<%=
            ("/",image) %>" /> <% }) %>
            <div class="titolo-testo">
              <h3 class="titolo-post"><%=blog.titolo %></h3>

              <h3 class="testo-post"><%=blog.testo.slice(0,100) + "..." %></h3>
            </div>
          </div>

          <h3 class="data-post"><%=blog.data %></h3>
          <div class="imgContainer"></div>
        </div>
      </a>
      <%})} %>
    </div>

    <a href="./admin/login">
      <button>
        <% if(req.session.authorized){ %> <%="gestisci"%> <%} else{ %>
        <%="login"%> <% } %>
      </button></a
    >
  </body>
</html>
