<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <div id="page-container">
      <div id="left">
        <div id="all-post-container">
          <h2 id="ultime-notizie">ULTIME NOTIZIE</h2>
          <% if(completo){ %>

          <a href="/blog/<%= completo[0].id  %>">
            <div class="homepage-post-container" id="<%= completo[0].id %>">
              <div class="img-title">
                <div id="img-container">
                  <img
                    class="immagini"
                    src="<%=
                         completo[0].path %>"
                  />
                </div>

                <h3 class="titolo-post"><%=completo[0].titolo %></h3>
              </div>
              <h3 class="testo-post">
                <%-completo[0].testo.slice(0,170) + "..." %>
              </h3>

              <h3 class="data-post"><%=completo[0].data %></h3>
            </div>
          </a>
          <%} %>

          <div class="old-post-container">
            <% if(oldPost){ %> <% oldPost.forEach((post =>{ %>
            <a href="/blog/<%= post.id %>" class="link-post">
              <div class="old-post">
                <div class="content">
                  <div class="old-post-img-container">
                    <img class="old-post-img" src="<%=post.path%>" alt="" />
                  </div>

                  <div class="old-post-titolo-data">
                    <div class="old-post-titolo"><%- post.titolo %></div>
                    <div class="old-post-data"><%= post.data %></div>
                  </div>
                </div>
              </div>
            </a>
            <% }))} %>
          </div>
        </div>
      </div>
      <div id="right">
        <h3 id="problema">PROBLEMA DEL GIORNO</h3>
        <div id="puzzle">
          <div id="puzzle-container">
            <link
              id="puzzleCss"
              type="text/css"
              rel="stylesheet"
              href="https://chesstempo.com/css/dailypuzzle.css"
            />
            <script
              type="text/javascript"
              src="https://chesstempo.com/js/dailypuzzle.js"
            ></script>
            <script>
              new Puzzle({ pieceSize: 29 });
            </script>
          </div>
          <a id="ct-link" href="https://chesstempo.com/play-chess-online/"
            >Gioca a Scacchi Online</a
          >
        </div>
        <div id="link-container">
          <hr />
          <h3 class="right-titoli">ASSOCIAZIONI</h3>
          <div id="associazioni">
            <ul>
              <li>
                <a href="https://www.arciscacchi.it/asb/"
                  >Arci Scacchi Bolzano</a
                >
              </li>
              <li>
                <a href="https://arcoscacchi.blogspot.com/">Arcoscacchi</a>
              </li>
              <li>
                <a href="http://www.arcoworldchess.com/">ArcoWorldChess</a>
              </li>
              <li>
                <a href="https://www.asigc.it/"
                  >Associazione Scacchistica Italiana Giocatori per
                  Corrispondenza</a
                >
              </li>
              <li>
                <a href="https://www.associazionetrentinafibrosicistica.it/"
                  >Associazione Trentina Fibrosi Cistica</a
                >
              </li>
              <li>
                <a href="https://digilander.libero.it/taioscacchi/index.html"
                  >Circolo Castling Taio</a
                >
              </li>
              <li>
                <a href="https://www.circoloscacchirovereto.eu/"
                  >CSR Roveresto</a
                >
              </li>
              <li>
                <a href="http://www.schachbund.it/">Südtiroler Schachbund</a>
              </li>
              <li>
                <a href="http://www.chessclub.it/">Schachklub Kaltern</a>
              </li>
            </ul>
          </div>
          <hr />
          <h3 class="right-titoli">BLOG</h3>
          <div id="blog">
            <ul>
              <li>
                <a href="https://www.scacchierando.it/">Scacchierando</a>
              </li>
              <li>
                <a href="https://www.messaggeroscacchi.it/"
                  >Messagero Scacchi</a
                >
              </li>
            </ul>
          </div>
          <hr />
          <h3 class="right-titoli">TORNEI/SITI INTERNAZIONALI</h3>
          <div id="tornei/siti internazionali">
            <ul>
              <li><a href="https://vesus.org/">Vesus</a></li>
              <li><a href="https://en.chessbase.com/">Chessbase</a></li>
              <li><a href="https://www.chess.com/">chess.com</a></li>
              <li><a href="https://lichess.org/">lichess.org</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="btn-container">
      <a href="./admin/login">
        <button id="loginBtn">
          <% if(req.session.authorized){ %> <%="gestisci"%> <%} else{ %>
          <%="login"%> <% } %>
        </button></a
      >
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
