<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>modifica blog</title>
    <link rel="stylesheet" href="/css/addpost.css" />
  </head>
  <body>
    <h1 id="title">MODIFICA</h1>
    <form action="/admin/modifica/<%= id %>" method="POST">
      <h3 id="postn">post n. <%= id %></h3>
      <label>data</label>
      <input type="date" value="<%= data %>" name="data" class="input" />
      <label>titolo</label>
      <input type="text" value="<%= titolo %>" name="titolo" class="input" />
      <label> testo</label>
      <textarea name="testo" class="input"><%= testo %></textarea>
      <div id="btn-container">
        <button id="removeBtn" class="input" data-doc="<%= id %>">
          cancella post
        </button>
        <button id="applica" class="input">applica</button>
      </div>
    </form>

    <script>
      const removePost = document.querySelector("#removeBtn");
      removePost.addEventListener("click", (e) => {
        e.preventDefault();

        const confirmDelete = confirm("Sei sicuro che vuoi cancellarlo?");

        if (confirmDelete) {
          fetch(`/admin/modifica/${removePost.dataset.doc}`, {
            method: "DELETE",
          })
            .then((response) => {
              if (response) {
                return response.json();
              }
            })
            .then((data) => {
              console.log(data);
              console.log(typeof data);
              window.location.href = data.redirect;
            })

            .catch((err) => console.log(err));
        }
      });
    </script>
  </body>
</html>
